<p>Edit Student Form</p>

<form class="" action="/student_list/<%= student.id %>" method="post">
  <label for="first-name">First Name:</label>
    <input id = "first-name" value ="<%= student.first_name %>" type="text" name="first_name" />
  </br>

  <label for="Last-name">Last Name:</label>
    <input id = "last-name" value ="<%= student.last_name %>" type="text" name="last_name" />
  </br>

  <label for ="age">Age:</label>
    <select id="age-select" value ="<%= student.id %>" name="age">
      <option value="Choose an option">Choose an Option</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
    </select>
  </br>

  <label for="house_select">Select House:</label>
    <select name="house_id" value "<%= house.id%>" id="house_select">
      <option value="1">Gryffindor</option>
      <option value="2">Hufflepuff</option>
      <option value="3">Ravenclaw</option>
      <option value="4">Slytherin</option>
    </select>
  </br>
  <input type='submit' value="Edit Student Details"/>
  </br>
